<div class="section group">
	<h2><%= @piece.title %></h2>

	<% if @piece.subtitle != nil %>
		<h4><%= @piece.subtitle %></h4>
	<% end %>

	<h5><%= @piece.cost %></h5>
</div>

<div class="section group">
		<div class="col span_1_of_3">
			<div class="show_piece">
				<% if @piece.thumbnail != nil %>
					<%= image_tag("#{@piece.thumbnail}") %></br>
				<% end %>
			</div>
		</div>

	<div class="col span_2_of_3">
		<div class="show_piece">
			<% if @piece.pub_date != nil %>
				<h5>Published Date</h5><%= @piece.pub_date %></br>
			<% end %>

			<i class="fa fa-external-link"></i> <%= link_to "Read Preview of #{@piece.title}", "#{@piece.preview}" %></br>

			<% if @piece.description != nil %>
				<h5>Description</h5><%= @piece.description %></br>
			<% end %>


			<% if @readr.read == false %>
				<i class="fa fa-check-circle-o"></i>
				<%= link_to "Mark as Read", {:controller => "readrs", :action => "update", :piece_id => @piece.id, :read => "true" }, { method: :post } %>

			<% else %>
				<i class="fa fa-check-circle"></i>
				<%= link_to "Mark as Unread", {:controller => "readrs", :action => "update", :piece_id => @piece.id, :read => "false" }, { method: :post } %>

			<% end %> | 

			<%= link_to "unsave", {:controller => "readrs", :action => "unsave_piece", :piece_id => @piece.id }, { method: :post } %>
		</div>
	</div>
</div>
